.row
  .span4.sidebar.page-sidebar

    <!-- Favorite Resources -->
    %h5.title-bg{style: "margin-top: 0px;"}
      Favorite Resources
    %ul.popular-posts
      %li
        %a{href: "#"}
          = image_tag "CodeNewbie.png", alt: "CodeNewbie", height: "50", width: "50"
          %h6
            %a{href: "http://codenewbie.org"}
              CodeNewbie Community 
          %em
            Twitter Chat.
            Discourse.
            Code Club.
            It's all amazing!
      <!-- /li -->
      %li
        %a{href: "#"}
          = image_tag "rails.png", alt: "Railsbridge", height: "50", width: "50"
          %h6
            %a{href: "http://railsbridge.org"}
              Railsbridge
          %em
            Building normalization in tech, one workshop at a time.
      <!-- /li -->
      %li
        %a{href: "#"}
          = image_tag "glassbreakers-logo.png", alt: "Glassbreakers", height: "50", width: "50"
          %h6
            %a{href: "http://glassbreakers.co"}
              Glassbreakers
          %em
            A social networking platform for women in tech.
      <!-- /li -->
    <!-- /ul -->

    <!-- Recently Found Resources -->

    <!-- Favorite Quotes -->
    %h5.title-bg
      Favorite Quotes
    %p.quote-text.side
      "We owe it to each other to tell stories."
      %cite
        \- Neil Gaiman
    %p.quote-text.side
      "We know our work doesn't have this special thing we want it to have.
      We all go through this. And if you are just starting out or you are still
      going through this phase, you gotta know it's normal and
      %em
        the most important thing you can do is do a lot of work.
      \... It is only by going through a volume of work that [...] your work
      will be as good as your ambitions."
      %cite
        \- Ira Glass
    <!-- End Testimonials -->
  <!-- End sidebar column -->

  <!-- Page Content -->
  .span8
    %h2.title-bg
      Why ACTS_AS_TEACHABLE?      

    %p.lead
      It took me a long time to find my comfort zone, but here I am.
      Paradoxically, the place I am most comfortable and happy is where
      I can work on challenging projects that force me to learn fast and
      ship tangible results quickly.
    %p.lead
      My name is Wendy. I'm a reformed pastry chef turned full-stack Ruby
      on Rails web developer. After getting my start in the industry
      re-implementing the website for
      %a{href: "http://confreaks.tv"}
        Confreaks TV,
      I quickly fell in love with the fast pace and constant feedback loop
      between thought, browser, and end-user.
    %p.lead
      I am working on becoming a part-time community organizer. My current efforts
      involve hosting the first-ever Railsbridge Workshop in Dayton, Ohio and starting
      a women's web developer monthly meet-up with Divya [Last Name and Link] in order
      to garner discussion on how to make the tech industry safe for the current and
      next generation of nerdy ladies, as well as provide a safe and welcoming space 
      to be surrounded by like-minded people.
    %p.lead
      Feel free to reach out to me, especially if you are from the greater Dayton/Columbus/Cincinnati
      area and are interested in being involved in community events!
    %p.lead
      Thank you for visiting my website!
