.row
  .span4.sidebar.page-sidebar

    <!-- Favorite Resources -->
    %h5.title-bg{style: "margin-top: 0px;"}
      Favorite Resources
    %ul.popular-posts
      %li
        %a{href: "#"}
          = image_tag "gallery-img-2-thumb.jpg", alt: "Popular Post"
          %h6
            %a{href: "#"}
              A resource I found
          %em
            Posted on 01/01/01
      <!-- /li -->
    <!-- /ul -->

    <!-- Recently Found Resources -->
    %h5.title-bg
      Recently found resources  

    <!-- Favorite Quotes -->
    %h5.title-bg
      Favorite Quotes      
    %p.quote-text.side
      Likely not be for testimonials.
      %cite
        \- Said no one
    <!-- End Testimonials -->
  <!-- End sidebar column -->

  <!-- Page Content -->
  .span8
    %h2.title-bg
      Why ACTS_AS_TEACHABLE?      

    %p.lead
      I am a junior Ruby on Rails developer. This is my portfolio site. I should probably spend some time crafting a paragraph or two that'll be. I don't know. Useful or something on this page.    
