.row.headline
  .span6
    = image_tag "coffee.jpg", alt: "beautiful fuel: coffee art", class: "home-img"
  .span6
    %h3
      developer for confreaks, llc & part-time freelancer 
    %p.lead
      I am a Ruby on Rails web developer and I
      %em
        love
      what I do.
    %p.lead
      I think that you will, too, whether you're looking to pair-program on a project, join me in a study session, or hire me to build your website.
    %i.fa.fa-plus-circle.read-more
    = link_to "Read more...", about_path      
  .span2
