.span12.gallery-single
  .row
    .span6
      = image_tag "contact-kitten.JPG", alt: "A Free Kitten!", class: "align-left thumbnail"

    .span6
      %h2 Have a free kitten!
      %p.lead
        I appreciate you taking a moment out of your day to contact me. I'll get back
        to you shortly.
