.name-brand {
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
  display: inline;
}

.name-brand a:hover {
  text-decoration: none;
}

.read-more {
  color: black;
  font-size: 1.2em;
}

ul.social-list {
  list-style-type: none;
}

ul.social-list li {
  display: inline;
  padding: 5px;
}

ul.social-list li a {
  color: black;
}

a i {
  color: black;
}
