.caption > h4 {
  margin-top: -10px;
}

.caption > h4 a {
  color: black;
  text-decoration: none;
  border-bottom: 1px dotted black;
}

img.home-img {
  border-right: 3px ridge #dbb8b8;
  border-bottom: 3px ridge #dbb8b8;
  border-top: 3px ridge #836e6e;
  border-left: 3px ridge #836e6e;
}
