.pp_content {
  border-top: 7px solid white;
  border-right: 7px solid white;
  border-left: 7px solid white;
  border-radius: 5px;
}

.pp_close {
  background-image: image-url("default-spite.png");
}
