<!-- Begin Header -->
.row.header
  <!-- Logo -->
  .span5.logo
    .name-brand
      = link_to "WendyBeth", root_path
      %h5 acts_as_teachable
  <!-- Main Navigation -->
  .span7.navigation
    .navbar.hidden-phone
      %ul.nav
        %li
          = link_to "About", about_path
        %li.dropdown
          %a.dropdown-toggle{href: "#", data: { toggle: "dropdown" } }
            Find Me
            %b.caret
          %ul.dropdown-menu
            %li
              %a{href: "http://twitter.com/wendybeth010", target: "_blank"}
                Twitter
            %li
              %a{href: "http://github.com/wendybeth", target: "_blank"}
                GitHub
        %li
          = link_to "Portfolio", portfolio_path
        %li
          %a{href: "http://wendybeth.ghost.io", target: "_blank"}
            Blog
        %li
          = link_to "Contact", new_contact_path
    .visible-phone
      .span7.navigation
        .navbar
          %ul.nav
            %li
              %a{href: "#"}
                About
            %li.dropdown
              %a{href: "#", class: "dropdown-toggle", data: { toggle: "dropdown" } }
                Find Me
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{href: "http://twitter.com/wendybeth010", target: "_blank"}
                    on Twitter
                %li
                  %a{href: "http://github.com/wendybeth", target: "_blank"}
                    on GitHub
            %li
              %a{href: "#"}
                Work 
            %li
              %a{href: "#"}
                Blog
            %li
              %a{href: "#"}
                Contact
